.self-justify-flexbox {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
}

.nav-opened-page {
  color: #c39946 !important;
}

.display-column {
  display: flex;
  flex-direction: column;
}

button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  margin: 20px auto;
  font-family: "Handlee", cursive;
  background-image: linear-gradient(#4e6c47 50%, #5a7b55, #7b9377);
  border: none;
  color: white;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  display: block;
}

button:hover {
  background-image: linear-gradient(#5a7b55, #4e6c47);
  transform: scale(1.05);
}

.free-bg {
  background-color: lightgray !important;
}

.free-specifications {
  background-color: white !important;
  border: 2px solid #072f3b !important;
}
